.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: Helvetica;
  text-align: center;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
}

.button:hover {
  color: #4caf50; /* Green */
  background-color: white;
}

.button1 {
  border-radius: 2px;
}
.button2 {
  border-radius: 4px;
}
.button3 {
  border-radius: 8px;
}
.button4 {
  border-radius: 12px;
}
.button5 {
  border-radius: 50%;
}

.container .row {
  margin: 20px;
  text-align: center;
}

.container .row button {
  margin: 0 20px;
}
